<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  " https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endit.mapper.ContentCreditMapper">

	<sql id="contentCreditWhere">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<choose>
					<when test="searchDiv == '10'">
						content_id = #{searchWord}
					</when>
					<when test="searchDiv == '20'">
						person_id = #{searchWord}
					</when>
					<when test="searchDiv == '30'">
						role = #{searchWord}
					</when>
				</choose>
			</if>
		</where>
	</sql>

	<select id="doRetrieve" parameterType="com.endit.cmn.DTO" resultType="ContentCreditVO">
		SELECT A.*, B.*
		  FROM (
			SELECT tt1.rnum no,
			       tt1.credit_id,
			       tt1.content_id,
			       tt1.person_id,
			       tt1.role,
			       tt1."CHARACTER" AS character,
			       tt1.display_order
			  FROM (
					SELECT ROWNUM rnum, t1.*
					  FROM (
							SELECT *
							  FROM content_credit
							 <include refid="contentCreditWhere"/>
							 ORDER BY content_id ASC, role ASC, display_order ASC, credit_id ASC
					) t1
					<![CDATA[ WHERE ROWNUM <= (#{pageSize} * (#{pageNo} - 1) + #{pageSize}) ]]>
			) tt1
			<![CDATA[ WHERE rnum >= (#{pageSize} * (#{pageNo} - 1) + 1) ]]>
		) A
		CROSS JOIN (
			SELECT COUNT(*) total_cnt
			  FROM content_credit
			 <include refid="contentCreditWhere"/>
		) B
	</select>

	<select id="doSelectOne" parameterType="ContentCreditVO" resultType="ContentCreditVO">
		SELECT credit_id,
		       content_id,
		       person_id,
		       role,
		       "CHARACTER" AS character,
		       display_order
		  FROM content_credit
		 WHERE credit_id = #{creditId}
	</select>

	<insert id="doSave" parameterType="ContentCreditVO">
		<selectKey keyProperty="creditId" order="BEFORE" resultType="int">
			SELECT CONTENT_CREDIT_SEQ.NEXTVAL
			  FROM dual
		</selectKey>
		INSERT INTO content_credit (
			credit_id,
			content_id,
			person_id,
			role,
			"CHARACTER",
			display_order
		) VALUES (
			#{creditId},
			#{contentId},
			#{personId},
			#{role, jdbcType=VARCHAR},
			#{character, jdbcType=NVARCHAR},
			#{displayOrder, jdbcType=INTEGER}
		)
	</insert>

	<update id="doUpdate" parameterType="ContentCreditVO">
		UPDATE content_credit
		   SET content_id    = #{contentId},
		       person_id     = #{personId},
		       role          = #{role, jdbcType=VARCHAR},
		       "CHARACTER"   = #{character, jdbcType=NVARCHAR},
		       display_order = #{displayOrder, jdbcType=INTEGER}
		 WHERE credit_id = #{creditId}
	</update>

	<delete id="doDelete" parameterType="ContentCreditVO">
		DELETE FROM content_credit
		 WHERE credit_id = #{creditId}
	</delete>

	<delete id="deleteAll">
		DELETE FROM content_credit
	</delete>

	<select id="selectAllCount" resultType="int">
		SELECT COUNT(*)
		  FROM content_credit
	</select>

</mapper>
