<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  " https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endit.mapper.ContentMapper">

	<select id="findContentIdByExternal" resultType="java.lang.Integer">
		SELECT content_id
		  FROM content
		 WHERE external_id = #{externalId}
	</select>

	<sql id="contentWhere">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<choose>
					<when test="searchDiv == '10'">
						title_ko LIKE #{searchWord} || '%'
					</when>
					<when test="searchDiv == '20'">
						title_org LIKE #{searchWord} || '%'
					</when>
					<when test="searchDiv == '30'">
						country LIKE #{searchWord} || '%'
					</when>
					<when test="searchDiv == '40'">
						external_id = #{searchWord}
					</when>
				</choose>
			</if>
		</where>
	</sql>

	<select id="doRetrieve" parameterType="com.endit.cmn.DTO" resultType="ContentVO">
		SELECT A.*, B.*
		  FROM (
			SELECT tt1.rnum no,
			       tt1.content_id,
			       tt1.external_id,
			       tt1.title_ko,
			       tt1.title_org,
			       tt1.overview,
			       TO_CHAR(tt1.release_year, 'YYYY-MM-DD') release_year,
			       tt1.runtime_min,
			       tt1.country,
			       tt1.poster_url,
			       tt1.backdrop_url,
			       TO_CHAR(tt1.created_dt, 'YYYY-MM-DD HH24:MI:SS') created_dt,
			       TO_CHAR(tt1.updated_dt, 'YYYY-MM-DD HH24:MI:SS') updated_dt
			  FROM (
					SELECT ROWNUM rnum, t1.*
					  FROM (
							SELECT *
							  FROM content
							 <include refid="contentWhere"/>
							 ORDER BY created_dt DESC, content_id ASC
					) t1
					<![CDATA[ WHERE ROWNUM <= (#{pageSize} * (#{pageNo} - 1) + #{pageSize}) ]]>
			) tt1
			<![CDATA[ WHERE rnum >= (#{pageSize} * (#{pageNo} - 1) + 1) ]]>
		) A
		CROSS JOIN (
			SELECT COUNT(*) total_cnt
			  FROM content
			 <include refid="contentWhere"/>
		) B
	</select>

	<select id="doSelectOne" parameterType="ContentVO" resultType="ContentVO">
		SELECT content_id,
		       external_id,
		       title_ko,
		       title_org,
		       overview,
		       TO_CHAR(release_year, 'YYYY-MM-DD') release_year,
		       runtime_min,
		       country,
		       poster_url,
		       backdrop_url,
		       TO_CHAR(created_dt, 'YYYY-MM-DD HH24:MI:SS') created_dt,
		       TO_CHAR(updated_dt, 'YYYY-MM-DD HH24:MI:SS') updated_dt
		  FROM content
		 WHERE content_id = #{contentId}
	</select>

	<insert id="doSave" parameterType="ContentVO">
		<selectKey keyProperty="contentId" order="BEFORE" resultType="int">
			SELECT CONTENT_SEQ.NEXTVAL
			  FROM dual
		</selectKey>
		INSERT INTO content (
			content_id,
			external_id,
			title_ko,
			title_org,
			overview,
			release_year,
			runtime_min,
			country,
			poster_url,
			backdrop_url,
			created_dt,
			updated_dt
		) VALUES (
			#{contentId},
			#{externalId, jdbcType=VARCHAR},
			#{titleKo, jdbcType=NVARCHAR},
			#{titleOrg, jdbcType=NVARCHAR},
			#{overview, jdbcType=CLOB},
			<choose>
				<when test="releaseYear != null and releaseYear != ''">
					TO_DATE(#{releaseYear}, 'YYYY-MM-DD')
				</when>
				<otherwise>
					NULL
				</otherwise>
			</choose>,
			#{runtimeMin, jdbcType=INTEGER},
			#{country, jdbcType=NVARCHAR},
			#{posterUrl, jdbcType=VARCHAR},
			#{backdropUrl, jdbcType=VARCHAR},
			SYSDATE,
			NULL
		)
	</insert>

	<update id="doUpdate" parameterType="ContentVO">
		UPDATE content
		   SET external_id  = #{externalId, jdbcType=VARCHAR},
		       title_ko     = #{titleKo, jdbcType=NVARCHAR},
		       title_org    = #{titleOrg, jdbcType=NVARCHAR},
		       overview     = #{overview, jdbcType=CLOB},
		       release_year =
		       <choose>
					<when test="releaseYear != null and releaseYear != ''">
						TO_DATE(#{releaseYear}, 'YYYY-MM-DD')
					</when>
					<otherwise>
						NULL
					</otherwise>
		       </choose>,
		       runtime_min  = #{runtimeMin, jdbcType=INTEGER},
		       country      = #{country, jdbcType=NVARCHAR},
		       poster_url   = #{posterUrl, jdbcType=VARCHAR},
		       backdrop_url = #{backdropUrl, jdbcType=VARCHAR},
		       updated_dt   = SYSDATE
		 WHERE content_id = #{contentId}
	</update>

	<delete id="doDelete" parameterType="ContentVO">
		DELETE FROM content
		 WHERE content_id = #{contentId}
	</delete>

	<delete id="deleteAll">
		DELETE FROM content
	</delete>

	<select id="selectAllCount" resultType="int">
		SELECT COUNT(*)
		  FROM content
	</select>

</mapper>
