<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>회원목록</title>
<script th:src="@{/assets/js/user/user_list.js}" defer></script>
</head>
<body>    
    <!--container-->
    <div layout:fragment="content" class="container py-2">
    <h3 class="display-7 mb-4 ">
        <i class="bi bi-modem"></i>
        회원 목록
    </h3>        
            
           <!--검색조건-->
           <!--g-1: 모든 컬럼의 가로,세로 간격-->
           <form th:action="@{/user/doRetrieve}" class="row g-1 mb-2" method="get" name="searchForm" id="searchForm">
                <input type="hidden" name="pageNo" id="pageNo" value="1">
                <div class="col-12 col-md-3">
                    <select name="searchDiv" id="searchDiv" class="form-select">
                        <option value="">전체</option>
                        <option value="10">아이디</option>
                        <option value="20">이름</option>
                        <option value="30">이메일</option>
                    </select>
                </div>
                <div  class="col-12 col-md-3">
                    <input class="form-control"
                        name="searchWord"
                        id="searchWord"
                        placeholder="검색어를 입력 하세요"
                        type="search"
                    />
                </div>
                <div  class="col-12 col-md-3">
                    <select name="pageSize" id="pageSize" class="form-select">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>                    
                </div>

                <!--//검색조건-->
                <div class="col-12 col-md-3 d-flex justify-content-end gap-1">
                    <button class="btn btn-primary">검색</button>
                    <button class="btn btn-primary" id="moveToRegBtn">등록</button>
                </div>                
           </form>
           <!--table-->
           <div class="table-responsive">
            <table  class="table table-sm table-striped table-hover table-bordered align-middle">
            <thead>
                <tr class="table-success text-center  text-nowrap">
                    <th scope="col">NO</th>
		            <th scope="col">사용자ID</th>
		            <th scope="col">이름</th>
		            <th scope="col">로그인</th>
		            <th scope="col">추천</th>
		            <th scope="col">이메일</th>
		            <th scope="col">등급</th>
		            <th scope="col">등록일</th>
                </tr>
            </thead>   
            <tbody>
                <tr th:each="vo : ${list}">
                    <th scope="row" class="text-center  text-nowrap" th:text="${vo.no}">NO</th>
                    <td class="text-start   text-nowrap">
                        <a th:href="@{/user/doSelectOne(userId=${vo.userId})}">[[${vo.userId}]]</a>    
                    </td>
                    <td class="text-center   text-nowrap" th:text="${vo.name}">이름</td>
                    <td class="text-end text-nowrap"      th:text="${vo.login}">로그인</td>
                    <td class="text-end text-nowrap"      th:text="${vo.recommend}">추천</td>
                    <td class="text-start   text-nowrap"  th:text="${vo.email}">이메일</td>
                    <td class="text-center   text-nowrap" th:text="${vo.grade}">등급</td>
                    <td class="text-center   text-nowrap" th:text="${vo.regDt}">2026/07/29</td>
                </tr>
                
            </tbody>
            </table>   
           </div>
           <!--paging-->
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
            <!--//paging-->
    </div>   
    <!--//container-->
 
</body>
</html>