<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>인덱스</title>
</head>
<body>    
    <!--container-->
    <div layout:fragment="content" class="container py-2" >
        
    <h3 class="display-7 mb-4 ">
        <i class="bi bi-modem"></i>
        인덱스 
    </h3>

    </div>   
    <!--//container--> 
</body>
</html>